body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
}

.parent-div {
  width: 40%;

  >h2 {
    color: #2b2b2b;
    padding-bottom: 20px;
  }
}